<h3>投稿数の前日比・前週比</h3>
<table class="table">
	<tr>
		<th>今日の投稿数</th>
		<th>前日の投稿数</th>
		<th>前日比</th>
	</tr>
	<tr>
		<td><%= ratio["today_count"] %></td>
		<td><%= @ratio["yesterday_count"] %></td>
		<td><%= Book.posted_ratio(ratio["today_count"], ratio["yesterday_count"]) %></td>
	</tr>
	<tr>
		<th>今週の投稿数</th>
		<th>前週の投稿数</th>
		<th>前週比</th>
	</tr>
	<tr>
		<td><%= ratio["this_week_count"] %></td>
		<td><%= ratio["last_week_count"] %></td>
		<td><%= Book.posted_ratio(ratio["this_week_count"], ratio["last_week_count"]) %></td>
	</tr>
</table>