<%= @book.errors.any? ? (render 'layouts/errorMessage', model: @book ) : "" %>
<div class='col-4'>
<%= render 'layouts/info', user: current_user, book: @book %>
</div>
<div class="col-8">
	<%= render 'searches/form', search_word: @search_word %>
	<h2>Books</h2>
	<%= render 'books/index', books: @books %>
	<%= render 'books/ratio', day_ratio: @day_ratio, day_labels: @day_labels %>
</div>