<div class='col-4'>
	<%= render 'layouts/info', user: @book.user, book: Book.new %>
</div>
<div class="col-8">
	<h2>Book Detail</h2>
	<table class="table">
		<thead>
			<th></th>
			<th>Title</th>
			<th>Body</th>
			<th>編集・削除</th>
		</thead>
		<tbody>
		<tr>
			<td>
				<%= image_tag @book.user.image_display("60x60") %>
			</td>
			<td>
				<%= @book.title %>
			</td>
			<td>
				<%= @book.body %>
			</td>
			<td>
				<%= current_user == @book.user ? (render 'books/editlink') : "" %>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-12">
			<table>
				<% @book_comments.each do |book_comment| %>
					<tr>
						<td id="bookcomment-<%= book_comment.id %>"><%= image_tag book_comment.user.image_display("30x30") %><%= book_comment.comment %></td>
						<%= current_user == book_comment.user ? (render 'books/destroylinkComment', book: book_comment.book) : "" %>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="form-group col-12">
			<%= form_with model: @book_comment, url: book_book_comments_path(@book.id) do |f| %>
				<%= f.text_area :comment, class: "form-control" %>
				<%= f.submit :submit, class: 'form-control' %>
			<% end %>
		</div>
	</div>
</div>